# Ignore all files in the venv directory
venv/*

# Ignore all files in the scripts/__pycache__ directory
scripts/__pycache__/*

# Ignore the venv directory
venv

# Ignore the scripts/__pycache__ directory
scripts/__pycache__
.DS_Store
